body, html {
    margin: 0;
    padding: 0;
}

@import "styles/page-common.scss";

html, body { 
    height: 100%;
}

html {
    position: relative;
    min-height: 100vh;
}

body {
    margin: 0; 
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
}
