#register-title {
    margin-top: 2em;
    font-size: 3em;
    text-align: center;
}

#register-card {
    width: 15em;
    height: 33em;

    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 15em;
}

#register-button {
    width: 100%;
}

#register-text {
    margin-top: 1em;
    text-align: center;
    font-size: 0.75em;
}