html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Helvetica Neue", sans-serif;
}

.menu{
  background-color: black;
}

li img{
    height: 15px;
    width: 15px;
}
h1{
    font-weight: bold;
    font-size: 24pt ;
}

p{
    font-weight: normal;
    font-size: 11pt;
}


#edit{
    margin-left: 173px;
}
#delete{
    margin-left: 165px;
}

.content {
    width: 100%;
    height: 200px;
    background-color: white;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}
.left p{
    margin-right: 10%;
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    float: right;
}
.left h1{
    margin-left: 10%;
    font-size: 100px;
    color: black;
    float: left;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}




nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

a{
  text-decoration: none;
  color: black;
}


.productImage {
  width: 30%;
  margin-top: 150px;
  margin-left: 400px;
  float: left;
}


.product-text{
  width: 429px;
  height: 400px;
  margin-top: 200px;
  background-color: white;
  float: right;
  margin-right: 400px;

}
.product-text h1{
  text-align: center;
}
.product-text p{
  text-align: center;
  font-weight: bold;
}
.price{
  font-size: 20px;
}
.text{
  font-size: 14px;
}


@media(max-width: 1516px)
{
    .product{
        width: 300px;
    }
}

@media(max-width: 1220px)
{
    .product{
        width:  500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;


    }
    #container {
        width:100%;
        text-align:center;
    }

    #left {
        float:none;

    }

    #center {
        float: none;


    }

    #right {
        float:none;

    }

    .content {
        width: 320px;
        height: 100px;

    }


    .left p{
        margin-right: 0px;
        font-weight: bold;
        text-align: left;
        font-size: 0px;
        float: right;
    }
    .left h1{

        font-size: 100px;
        color: black;
        float: left;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
    }
}




@media(max-width: 786px) {

    h1{
        font-size: 20pt;
    }
    p{
        font-size: 10pt;
    }
    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    nav ul {
        max-height: 0px;
        background: #000;
    }

    nav.black ul {
        background: #000;
    }

    .showing {
        max-height: 34em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

    .product{
        width: 300px;
    }

    .product-image img{
        width: 321px;
        height: 439px;
    }
    .product-image {
        width: 321px;
        height: 439px;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .product-text{
        width: 321px;
        height: 439px;
        margin-left: auto;
        margin-right: auto;
    }
}













.bag-button {
    background-color: white;
    text-align: center;
    width: 140px;
    font-weight: bold;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: 2px solid black;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 145px;
}
#spinner {
    width: 140px;
    margin-top: 10px;
    margin-left: 145px;
}


.bag-button:hover{
    background-color: #ddd;
}




/*
        $$$$$$     $$$$$$
      $$$$$$$$$  $$$$$$$$$$
     $$$$$$$$$$$$$$$$$$$$$$$
     $$$$$$$$$$$$$$$$$$$$$$$
      $$$$$$$$$$$$$$$$$$$$$
       $$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$
          $$$$$$$$$$$
            $$$$$$$
             $$$$
*/




/* Size-picker */

/* Dropdown Button */
.dropbtn {
  background-color: white;
  text-align: center;
  width: 140px;
  font-weight: bold;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: 2px solid black;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  font-weight: bold;
  margin: auto;
  position: relative;
  display: inline-block;
  margin-left: 145px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  width: 136px;
  text-align: center;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  border: 2px solid black;


  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover.dropbtn {
    background-color: #ddd;
}
