<br>
<br>
<br>
<div id="content">
    <div id="left">
        <div id="img-wrapper" *ngIf="product != undefined">
            <img [src]="imageUtil.resolve(product.picture)">
        </div>
    </div>
    <div id="right" *ngIf="product != undefined">
        <p id="title">
            {{product.name}}
        </p>
        <div id="price-wrapper">
            <p id="price">{{product.price}} €</p>
            <p id="price-kg">{{product.price }} € / kg</p>
        </div>
        <div id="amount-wrapper">
            <button mat-icon-button (click)="decrementAmount()">
                <mat-icon>remove</mat-icon>
            </button>
            <p>{{ selectedAmount }}</p>
            <button mat-icon-button (click)="incrementAmount()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div id="add-to-cart">
            <button mat-icon-button (click)="addToBasket()">
                <mat-icon>shopping_cart</mat-icon>
            </button>
        </div>
        <div id="edit-product" *ngIf="isAdmin">
            <button mat-icon-button (click)="editProduct()">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <div id="delete-product" *ngIf="isAdmin">
            <button mat-icon-button (click)="deleteProduct()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</div>