<div id="content">
    <div id="left">
        <p id="title">Warum Prochoc?</p>
        <p id="text">
            Einfache Kohlenhydrate wie Zucker und Stärke werden vom Körper schnell verarbeitet,
            somit erhöht sich nicht deine Leistung, sondern nur dein Blutzuckerspiegel und verpasst
            dir mit der gefolgten Ausschüttung von hohen Mengen an Insulin Knockouts wie Heißhunger,
            Kopfschmerzen, Trägheit und Co. Die WHO (Weltgesundheitsorganisation) empfiehlt
            deshalb insgesamt nur 15g-25g Zucker pro Tag.
        </p>
    </div>
    <div id="right">
        <img src="/assets/images/product1.png">
    </div>
</div>
