<div id="cover">
    <img src="/assets/images/background.png"/>
</div>
<div id="content-header">
    <p id="title">WHY PROCHOC?</p>
    <p id="text">
        Einfache Kohlenhydrate wie Zucker und Stärke werden vom Körper schnell
        verarbeitet, somit erhöht sich nicht deine Leistung, sondern nur dein
        Blutzuckerspiegel und verpasst dir mit der gefolgten Ausschüttung von
        hohen Mengen an Insulin Knockouts wie Heißhunger, Kopfschmerzen, Trägheit
        und Co.<br><br>Die WHO (Weltgesundheitsorganisation) empfiehlt deshalb insgesamt
        nur 15g- 25g Zucker pro Tag.
    </p>
</div>
<div id="content-body">
    <p id="subtitle">IN 3 GESCHMACKSRICHTUNGEN</p>
    <div id="product-gallery">
        <div class="product">
            <img class="product-image" src="/assets/images/product1.png"/>
        </div>
        <div class="product">
            <img class="product-image" src="/assets/images/product2.png"/>
        </div>
        <div class="product">
            <img class="product-image" src="/assets/images/product3.png"/>
        </div>
    </div>
    <div id="details">
        <div id="first">
            <p>
                Du willst das Beste aus dir rausholen, aber nicht auf deine Schokosnacks verzichten?
                PROCHOC vereint das beste aus Geschmack, Crunch und den besten Nährwerten. Mit nur 1g Zucker
                und nur 3g NetCarbs hat PROCHOC kaum Auswirkung auf deinen Blutzuckerspiegel. Zusätzlich hat PROCHOC
                nur 98kcal und ist somit der perfekte Snack für jede Tageszeit.
            </p>
            <img src="/assets/images/stockfoto.jpg"/>
        </div>
        <div id="second">
            <p>
                Also worauf wartest du noch? <br>
                Schlag zu und hol das Beste aus dir raus.
            </p>
            <img src="/assets/images/stockfoto.png"/>
        </div>
    </div>
</div>
