#wrapper {
    width: 100%;
    min-height: 42em;
}

#left {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

#right {
    position: relative;
    float: right;
    width: 50%;
    min-height: 100%;
}

#img-wrapper {
    position: relative;
    width: 30em;
    min-height: 30em;
    left: 50%;
    transform: translateX(-50%);
}

#img-wrapper > img {
    width: 80%;
    height: auto;
}


#title {
    font-size: 3em;
    margin-top: 2em;
}

#name-wrapper {
    width: 40%;
    flex-direction: row;
    display: flex;
}

#price-wrapper {
    width: 40%;
    flex-direction: row;
    display: flex;
}

#price {
    font-weight: 800;
}

#price-kg {
    font-weight: lighter;
}

#save-product {
    margin-top: 2em;
    height: 3.5em;
    background: black;
    max-width: 26em;
    border: 1px solid black;
    border-radius: 1em;
}

#save-product > button {
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#edit-picture {
    margin-left: 3em;
    width: 18em;
    height: 3.5em;
    margin-top: 2em;
    max-width: 26em;
    border: 2px solid black;
    border-radius: 1em;
}

#edit-picture > button {
    color: black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
