html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  body {
    background-color: #ffffff;
    background-size: auto, auto;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    z-index: 2;
    font-family: Helvetica, sans-serif;
  }

#Login{
    background-color: #d1d1d1;
    width: 400px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#Login h1{
    padding-top: 60px;
    padding-bottom: 10px;
    margin-left: 80px;
    margin-top: 60px;
    font-size: 30pt;
}


#inner{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

#inner input{
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 5px;
    text-align: center;
    outline: none;
    margin-top: -10px;
}

#inner button{
    margin-top: 50px;
    width: 250px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #6b6b6b;
    font-weight: bold;
    font-size: 11pt;
}

#inner button:hover{
    background-color: #595858;
    cursor: pointer;
}

#inner p{
    font-weight: bold;
}