html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Helvetica Neue", sans-serif;
}

header {
    width: 100%;
    height: 100vh;

    background: url("../images/background.png") no-repeat 50% 50%;
    background-size: cover;
}
li img{
    height: 15px;
    width: 15px;
}

h1{
    font-weight: bold;
    font-size: 24pt ;
}

p{
    font-weight: normal;
    font-size: 11pt;
}
.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}


/*---------------------------------HOME-------------------------*/
.homepage1{
    height: 500px;
    width: 100%;
    margin: 0;
}

.homepage1 #title{
    float: left;
    width: 49%;
    height: 500px;
}

.homepage1 #title h1{
    text-align: center;
    margin-top: 200px;
    font-size: 40pt;
}

.homepage1 #text{
    float: right;
    width: 50%;
    height: 500px;
}

.homepage1 #text p {
    margin-top: 160px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 13pt;
    font-weight: bold;
    line-height: 27px;
}

.homepage2 #title2{
    width: 100%;
    height: 150px;
    text-align: center;

    border-style: solid;
    border-width: 3px;
    border-color: black;
}

.homepage2 #title2 h1{
   margin-top: 55px;
}

.homepage2 #container{
    height: 500px;
}

.homepage2 #container #left{
    width: 30%;
}

.homepage2 #container #center{
    width: 30%;
}

.homepage2 #container #right{
    width: 30%;
}

.homepage3{
     height: 500px;
     width: 100%;
     margin: 0;

     border-top: 3px solid black;

 }

.homepage3 #text3{
    float: left;
    width: 49%;
    height: 500px;
}

.homepage3 #text3 p {
    margin-top: 160px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 13pt;
    font-weight: bold;
    line-height: 27px;
}

.homepage3 #stockfoto{
    float: right;
    width: 50%;
    height: 500px;
    background-image: url("../images/stockfoto.jpg");
}

.homepage4{
    height: 500px;
    width: 100%;
    margin: 0;
}

.homepage4 #text4{
    float: right;
    width: 49%;
    height: 500px;
}

.homepage4 #text4 p {
    margin-top: 160px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 13pt;
    font-weight: bold;
    line-height: 27px;
}

.homepage4 #text4 button {
    margin-left: 10%;
    font-size: 13pt;
    font-weight: bold;

    background-color: #a3a3a3;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    height: 40px;
    width: 100px;
    border-radius: 5px;
}

.homepage4 #text4 button:hover {
    background-color: black;
}


.homepage4 #stockfoto2{
    float: left;
    width: 50%;
    height: 500px;
    background-image: url("../images/stockfoto2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*----------------------------------------------------------*/


.content {
    width:44%;
    height: 500px;
    background-color: white;
    margin: 0;
    padding: 30px;
    float: left;
    /*border-style: solid;
    border-width: 1px;
    border-color: black;*/
    text-align: justify;
}

.content h1{
    font-size: 50px;
    text-align: left;
    margin-top: 210px;
}


.content2 {
    width:47%;
    height: 500px;
    background-color: white;
    margin: 0;
    padding: 30px;
    float: right;
    line-height: 30px;
   /* border-style: solid;
    border-width: 1px;
    border-color: black;*/
}

.content2 p{
    font-size: 15px;
    text-align: left;
    margin-top: 175px;
}

.description {
    width:44%;
    height: 500px;
    background-color: white;
    margin: 0;
    padding: 30px;
    float: left;
    line-height: 30px;
    /*border-style: solid;
    border-width: 1px;
    border-color: black;*/
}

.description p{
    font-size: 15px;
    text-align: left;
    margin-top: 150px;
}

.picture {
    width:500px;
    height: 500px;
    background-color: white;
    margin: 0;
    padding: 30px;
    float: right;
    line-height: 30px;
    /*border-style: solid;
    border-width: 1px;
    border-color: black;*/
    background-image: url("../images/landingproduct.png");
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

a{
  text-decoration: none;
  color: black;
}

a.white{
    text-decoration: none;
    color: #999999;
  }

.product{
    width: 400px;
    height: 530px;
    background: #f2f2f2;
    margin: 50px;
    cursor: pointer;
}
.product p
{
    font-weight: bold;
}


#container {
    width:100%;
    text-align:center;
}

#left {
    float:left;
}

#center {
    display: inline-block;


}

#right {
    float:right;

}

img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}


@media(max-width: 1516px)
{
    .product{
        width: 300px;
    }
}

@media(max-width: 1220px)
{
    .product{
        width:  500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;


    }
    #container {
        width:100%;
        text-align:center;
    }

    #left {
        float:none;

    }

    #center {
        float: none;


    }

    #right {
        float:none;

    }

    .content {
        width: 320px;
        height: 100px;

    }


    .left p{
        margin-right: 0px;
        font-weight: bold;
        text-align: left;
        font-size: 0px;
        float: right;
    }
    .left h1{

        font-size: 100px;
        color: black;
        float: left;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
    }
}


@media(max-width: 786px) {

    h1{
        font-size: 20pt;
    }
    p{
        font-size: 10pt;
    }
    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    nav ul {
        max-height: 0px;
        background: #000;
    }

    nav.black ul {
        background: #000;
    }

    .showing {
        max-height: 34em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

    .product{
        width: 300px;
    }
    
}
  .footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #000000;
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255,255,255,0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }