<div id="cart-content" *ngIf="cartVisible" [@slideInOut]>
    <table id="basket-table" mat-table [dataSource]="basketItems" class="mat-elevation-z8" *ngIf="basketItems.length > 0">
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <img class="item-image" [src]="element.item.picture">
            </td>
          </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> <center>Produkt</center> </th>
            <td mat-cell *matCellDef="let element"> <center>{{element.item.name}}</center> </td>
        </ng-container>

        <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef> <center>Anzahl</center> </th>
            <td mat-cell *matCellDef="let element">
                <center>
                    <button mat-icon-button (click)="element.count = Math.max(0, element.count - 1)">
                        <mat-icon>remove</mat-icon>
                    </button> 
                    {{element.count}}
                    <button mat-icon-button (click)="element.count = element.count + 1;">
                        <mat-icon>add</mat-icon>
                    </button> 
                </center>
            </td>
        </ng-container>
      
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> <center>Preis</center> </th>
            <td mat-cell *matCellDef="let element"> <center>{{element.item.price}} €</center> </td>
        </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button (click)="deleteItem(element)">
                    <mat-icon>delete</mat-icon>
                </button> 
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div id="info">
        <p id="price">Gesamtpreis: {{calculateSum()}} €</p>
    </div>
    <button id="checkout" mat-raised-button color="primary" [disabled]="basketItems.length == 0" (click)="checkout()">Zum Checkout</button>
</div>